* {
	padding:0;
	margin:0;
}

body {
	background:#e2e6f0 url("../img/body_background.jpg") repeat-x;
}

#box {
	width:1110px;
	margin:50px auto;
	font:12px Arial, sans-serif;
}

#header {
	width:1110px;
	height:161px;
	background:url("../img/header.png") no-repeat;
}

#header div.start {
	margin:41px 0 0 37px;
	float:left;
}

#header div.start a {
	width:240px;
	height:90px;
	display:block;
}

#header div.start a span {
	display:none;
}

#header.start {
	background:url("../img/start/header.png") no-repeat;
}

#header.numbers {
	background:url("../img/numbers/header.png") no-repeat;
}

#menu {
	margin:65px 245px 0 0;
	float:right;
}

#menu ul {
	width:500px;
	height:40px;
}

#menu ul li {
	display:inline;
}

#menu ul li a {
	width:125px;
	height:40px;
	float:left;
}

#menu ul li a span {
	display:none;
}

#content {
	width:1110px;
	background:url("../img/content_background.png") repeat-y;
}

#content div {
	width:1024px;
	margin:0 auto;
}

#content div h1 {
	height:42px;
}

#content div h1 span {
	display:none;
}

#content div div.box_header {
	height:26px;
	background:url("../img/box_header.jpg") no-repeat;
}

#content div div.box_body {
	background:url("../img/box_background.jpg") repeat-y;
}

#content div div.box_body p {
	padding:4px 20px;
}

#content div div.box_body table {
	margin:0 auto;
}

#content div div.box_body table tr td {
	padding:2px 3px;
}

#content div div.box_footer {
	height:26px;
	background:url("../img/box_footer.jpg") no-repeat;
}

#content.start {
	height:434px;
	background:url("../img/start/background.png") no-repeat;
}

#content.start div {
	display:none;
}

#content.numbers {
	background:none;
}

#content.numbers table {
	border-collapse:collapse;
}

#footer {
	width:1110px;
	height:107px;
	background:url("../img/footer.png") no-repeat;
}

#footer address {
	width:760px;
	margin:32px 96px 0 0;
	float:right;
	color:#ffffff;
	font-style:italic;
	font-weight:bold;
}

#footer address span {
	width:576px;
	float:left;
}

#footer address a.mail {
	height:20px;
	padding-left:40px;
	display:block;
	float:right;
	color:#ffffff;
	text-decoration:none;
}

#footer.start {
	background:url("../img/start/footer.png") no-repeat;
}

#footer.numbers {
	background:url("../img/numbers/footer.png") no-repeat;
}